h1 {
  font-family: "Boita", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h2 {
  font-family: "Boita", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

h3 {
  font-family: "Boita", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

p {
  font-family: "Tiempos", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.link-round {
  font-family: "Boita", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;

  &.black {
    background-color: #000;
    color: #fff;
  }
}
span {
  // font-family: "Boita", sans-serif;
}
